USE [master]
GO
/****** Object:  Database [EcommerceDB]    Script Date: 6/17/2026 4:30:26 PM ******/
CREATE DATABASE [EcommerceDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EcommerceDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\EcommerceDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EcommerceDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\EcommerceDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EcommerceDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EcommerceDB]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 6/17/2026 4:30:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[price] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 6/17/2026 4:30:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[total_amount] [decimal](10, 2) NOT NULL,
	[status] [varchar](30) NOT NULL,
	[order_date] [datetime] NOT NULL,
	[address] [nvarchar](500) NULL,
	[phone] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 6/17/2026 4:30:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](200) NOT NULL,
	[category] [nvarchar](100) NOT NULL,
	[price] [decimal](10, 2) NOT NULL,
	[description] [nvarchar](1000) NOT NULL,
	[image_url] [nvarchar](500) NOT NULL,
	[brand] [nvarchar](100) NOT NULL,
	[rating] [float] NOT NULL,
	[stock] [int] NOT NULL,
	[local_image] [nvarchar](500) NULL,
	[extra_images] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 6/17/2026 4:30:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[rating] [int] NOT NULL,
	[comment] [nvarchar](1000) NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 6/17/2026 4:30:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[email] [nvarchar](150) NOT NULL,
	[password] [nvarchar](300) NOT NULL,
	[role] [varchar](20) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[status] [varchar](20) NOT NULL,
	[reset_token] [nvarchar](200) NULL,
	[reset_token_expires] [datetime] NULL,
	[profile_image] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[OrderItems] ON 

INSERT [dbo].[OrderItems] ([id], [order_id], [product_id], [quantity], [price]) VALUES (1, 1, 1, 2, CAST(4999.00 AS Decimal(10, 2)))
INSERT [dbo].[OrderItems] ([id], [order_id], [product_id], [quantity], [price]) VALUES (2, 1, 3, 1, CAST(3499.00 AS Decimal(10, 2)))
INSERT [dbo].[OrderItems] ([id], [order_id], [product_id], [quantity], [price]) VALUES (3, 2, 12, 1, CAST(2499.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[OrderItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([id], [user_id], [total_amount], [status], [order_date], [address], [phone]) VALUES (1, 2, CAST(13497.00 AS Decimal(10, 2)), N'delivered', CAST(N'2026-04-01T20:00:00.000' AS DateTime), N'House #58, Block C, Lahore', N'034772719583')
INSERT [dbo].[Orders] ([id], [user_id], [total_amount], [status], [order_date], [address], [phone]) VALUES (2, 2, CAST(2499.00 AS Decimal(10, 2)), N'delivered', CAST(N'2026-04-19T15:00:00.000' AS DateTime), N'House #8, Block B, Lahore', N'032114903402')
INSERT [dbo].[Orders] ([id], [user_id], [total_amount], [status], [order_date], [address], [phone]) VALUES (3, 2, CAST(4497.00 AS Decimal(10, 2)), N'delivered', CAST(N'2026-04-18T12:00:00.000' AS DateTime), N'House #167, Block G, Lahore', N'032128536477')
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

GO
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Reviews] ON 

INSERT [dbo].[Reviews] ([id], [user_id], [product_id], [rating], [comment], [created_at]) VALUES (1, 3, 30, 5, N'Good for the price, satisfied.', CAST(N'2026-05-02T18:00:00.000' AS DateTime))
INSERT [dbo].[Reviews] ([id], [user_id], [product_id], [rating], [comment], [created_at]) VALUES (2, 3, 31, 5, N'Looks premium, feels durable.', CAST(N'2026-04-26T17:00:00.000' AS DateTime))
INSERT [dbo].[Reviews] ([id], [user_id], [product_id], [rating], [comment], [created_at]) VALUES (3, 3, 11, 5, N'Excellent! Five stars without hesitation.', CAST(N'2026-05-25T17:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Reviews] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([id], [name], [email], [password], [role], [created_at], [status], [reset_token], [reset_token_expires], [profile_image]) VALUES (1, N'Admin User', N'admin@smartshop.com', N'scrypt:32768:8:1$AnKSq5WeA8UTKM6k$5bab7ac26186d27ce98a34308c47a692b9372b0f6327a8782b3453f95a13c02b94e087f3475052aaf9c4c71617ce792184886b809c99721e092c54281832e0c9', N'admin', CAST(N'2026-06-04T13:18:08.020' AS DateTime), N'active', NULL, NULL, N'uploads/profile_pictures/user_1_786a5cc5951d7a55.jpg')
INSERT [dbo].[Users] ([id], [name], [email], [password], [role], [created_at], [status], [reset_token], [reset_token_expires], [profile_image]) VALUES (2, N'Ali Hassan', N'ali@test.com', N'scrypt:32768:8:1$IfCuneSeyeL7bkoZ$fdc661f2e0d2afdb2f3ac77de1f496503bc97282cb49d0f6840e01851ba410cc69211280e0c389fb87933ce9c160235038fe5ae706ce73a0388efdcb1ec01d35', N'customer', CAST(N'2026-06-04T13:18:08.020' AS DateTime), N'active', NULL, NULL, NULL)
INSERT [dbo].[Users] ([id], [name], [email], [password], [role], [created_at], [status], [reset_token], [reset_token_expires], [profile_image]) VALUES (3, N'Sara Ahmed', N'sara@test.com', N'scrypt:32768:8:1$IfCuneSeyeL7bkoZ$fdc661f2e0d2afdb2f3ac77de1f496503bc97282cb49d0f6840e01851ba410cc69211280e0c389fb87933ce9c160235038fe5ae706ce73a0388efdcb1ec01d35', N'customer', CAST(N'2026-06-04T13:18:08.020' AS DateTime), N'banned', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [UQ_Reviews_UserProduct]    Script Date: 6/17/2026 4:30:26 PM ******/
ALTER TABLE [dbo].[Reviews] ADD  CONSTRAINT [UQ_Reviews_UserProduct] UNIQUE NONCLUSTERED 
(
	[user_id] ASC,
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__AB6E6164F3C4E00C]    Script Date: 6/17/2026 4:30:26 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ('Placed') FOR [status]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [order_date]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((4.0)) FOR [rating]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((100)) FOR [stock]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('customer') FOR [role]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_Status]  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Orders] FOREIGN KEY([order_id])
REFERENCES [dbo].[Orders] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Orders]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Products] FOREIGN KEY([product_id])
REFERENCES [dbo].[Products] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Products]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Users]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Products] FOREIGN KEY([product_id])
REFERENCES [dbo].[Products] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Products]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Users]
GO
USE [master]
GO
